/**
 * Form For User
 */
.form-user {
    .form-group {
        display: flex;      
        flex-direction: column;
        padding: 10px 0;
        
        label {
            width: 100%;
        }
    }

    .form-control {
        border: 1px solid #d1d5db;
        border-radius: 5px;
        padding: 5px 10px;

        @media screen and (max-width: 768px) {
            width: 100%;
        }
        
        &:focus {
            outline: none;            
        }
    }

    .form-button {
        @media screen and (max-width: 768px) {
            display: flex;
            justify-content: space-between;
        }
    }

    .btn--add {
        @include btn($primary-color);
    }

    .btn--back {
        @include btn($secondary-color, #4b5563);
    }

    .btn--edit {
        @include btn($success-color);
    }
   
}